body {
    background: rgb(26, 120, 160);
    background: -webkit-radial-gradient(right, rgb(24, 117, 156), rgba(66, 79, 108, 1.0));
    background: -moz-radial-gradient(right, rgb(22, 103, 138), rgba(66, 79, 108, 1.0));
    background: radial-gradient(to left, rgb(23, 109, 146), rgba(66, 79, 108, 1.0));
    padding-top: 85px;
    }
    .topnav {
        background-color: #333;
        overflow: hidden;
        height: 43px;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        text-decoration: none;
        float: right;
        color: #2596be;
        text-align: center;
        padding: 14px 16px;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        text-decoration: none;
        background-color: #134b5f;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        text-decoration: none;
        background-color: #2596be;
        color: white;
    }

    .topnav .navbar-brand {
        font-family: 'Poppins', sans-serif;
        float: left;
        margin-top: -12px;
        outline: none;
    }

    .topnav .navbar-brand h2 {
        font-family: 'Poppins', sans-serif;
        color: #25a5be;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }

    .topnav .navbar-brand h2 em {
        font-style: normal;
        color: #2596be;
    }

    
    h1 {
        font-family: 'Poppins', sans-serif, 'arial';
        font-weight: 600;
        font-size: 72px;
        color: white;
        text-align: center;
        text-transform: capitalize;
    }
    
    h4 {
        font-family: 'Roboto', sans-serif, 'arial';
        font-weight: 400;
        font-size: 23px;
        color: #d3cece;
        line-height: 1.5;
    }
    
    
    input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
        font-size: 0.75em;
        color: #d3cece;
        top: -5px;
        transition: all 0.225s ease;
    }
    
    .styled-input {
        float: left;
        width: 293px;
        margin: 1rem 0;
        position: relative;
        border-radius: 4px;
    }
    
    @media only screen and (max-width: 768px){
        .styled-input {
            width:100%;
        }
    }
    
    .styled-input label {
        color: #999;
        padding: 1.3rem 30px 1rem 30px;
        position: absolute;
        top: 10px;
        left: 0;
        transition: all 0.25s ease;
        pointer-events: none;
    }
    
    .styled-input.wide { 
        width: 650px;
        max-width: 100%;
    }
    
    input,
    textarea {
        padding: 30px;
        border: 0;
        width: 100%;
        font-size: 1rem;
        background-color: rgb(16, 68, 90);
        color: white;
        border-radius: 4px;
    }
    
    input:focus,
    textarea:focus { outline: 0; }
    
    input:focus ~ span,
    textarea:focus ~ span {
        width: 100%;
        transition: all 0.075s ease;
    }
    
    textarea {
        width: 100%;
        min-height: 12em;
    }
    

    .input-container {
        width: 650px;
        max-width: 100%;
        margin: 20px auto 25px auto;
        
    }
    
    .submit-btn {
        margin-bottom: 10px;
        padding: 7px 35px;
        border-radius: 45px;
        display: inline-block;
        background-color: rgb(16, 68, 90);
        color: white;
        font-size: 18px;
        cursor: pointer;
        transition: all 300ms ease;
        border-color: rgb(16, 68, 90) ;
    }
    
    .submit-btn:hover {
        transform: translateY(1px);
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
                  0 1px 1px 0 rgba(0,0,0,0.09);
       background-color: rgb(26, 120, 160);
       color: #d3cece;
    }
    
    @media (max-width: 768px) {
        .submit-btn {
            width:35%;
            text-align:center;
        }
    }
    
