body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(#2596be, #041014,#145369);
}
.topnav {
  background-color: #333;
  overflow: hidden;
  height: 43px;
}

/* Style the links inside the navigation bar */
.topnav a {
  text-decoration: none;
  float: right;
  color: #2596be;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  text-decoration: none;
  background-color: #134b5f;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: none;
  background-color: #2596be;
  color: white;
}

.topnav .navbar-brand {
  font-family: 'Poppins', sans-serif;
  float: left;
  margin-top: -12px;
  outline: none;
}

.topnav .navbar-brand h2 {
  font-family: 'Poppins', sans-serif;
  color: #25a5be;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.topnav .navbar-brand h2 em {
  font-style: normal;
  color: #2596be;
}
.sign-up{
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0,0.3);
  background-color: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 45px;

}

.sign-up h1{
  color: #315A73;
  margin-bottom: 30px;
}
.input-box{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 85%;
  border: 1px solid #999;
  outline: none;
}
button{
  color: #fff;
  width: 45%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn{
  background-color: #145369;
}
hr{
  margin-top: 20px;
  width: 200px;
}
a{
  text-decoration: none;
}
.or{
  background: #fff;
  width: 30px;
  margin: -19px auto 10px;
}
